:root {
  --color-background: 247 249 249;
  --color-foreground: 55 65 81;
  --color-accent: 13 148 136;
  --color-accent-hover: 15 118 110;
  --color-border: 229 231 235;
}

.dark {
  --color-background: 26 32 44;
  --color-foreground: 209 213 219;
  --color-accent: 13 148 136;
  --color-accent-hover: 15 118 110;
  --color-border: 75 85 99;
}
